//
// Elements
// --------------------------------------------------

// Textbox
// -------------------------

.element {
  outline: dashed 2px $element-gray;
  display: block;
  z-index: 2;

  &.active {
	outline: 2px dashed $element-active;
  }

  &.modify {
	outline: 2px dashed $element-modify;
  }

  .toolbar {
	//display: none;
	height: 50px;
	position: absolute;
	top: -50px;
	width: 100%;
	z-index: -1;
	background-color: $element-active-near-transparent;

	.move, .edit, .copy, .remove {
	  height: 100%;
	  width: 30px;
	  display: inline-block;
	  font-size: 24px;
	  margin: 10px;
	  cursor: pointer;
	  float: right;

	  &:hover {
	  	color: $element-modify;
	  }
	}
	.move {
	  float: left;
	  cursor: move;
	}
  }

  .content {
	height: 100%;
	width: 100%;
	line-height: 10px;
  }
}

#context-menu {
  position: absolute;
  width: auto;
  outline: 2px dashed $element-modify;
  display: none;
  z-index: 99999;
  background-color: #FFF;

  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
	  padding: 5px 10px;
	  font-size: 16px;
	  cursor: pointer;

	  &:hover {
		background-color: $element-active-semi-transparent;
	  }
	}
  }
}

.textbox {
  width: 200px;
  min-height: 20px;
  display: block;

  pre {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
  }
}

.ui-resizable-e {
  position: absolute;
  top: 0;
  right: -4px; // Makes handle overlap the border
  height: 100%;
  width: 8px;
  cursor: e-resize;
}

.ui-resizable-s {
  position: absolute;
  bottom: -4px; // Makes handle overlap the border
  height: 8px;
  width: 100%;
  cursor: ns-resize;
}

.ui-resizable-se {
  position: absolute;
  bottom: -2px; // Makes handle overlap the border
  right: -2px;
  height: 8px;
  width: 8px;
  background: #D8D8D8;
  cursor: nw-resize;
}