//
// Code (inline and blocK)
// --------------------------------------------------

// Inline and block code styles
code,
pre {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: 2px 4px;
  font-size: 90%;
  color: $code-color;
  background-color: $code-bg;
  white-space: nowrap;
  border-radius: $border-radius-base;
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
