// Fonts - @FONTFACE
// --------------------------------------------------
// OpenSans
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter/bitter-regular-webfont.eot');
  src: url('../fonts/Bitter/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bitter/bitter-regular-webfont.woff') format('woff'),
  url('../fonts/Bitter/bitter-regular-webfont.ttf') format('truetype'),
  url('../fonts/Bitter/bitter-regular-webfont.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


